* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #aaaaaa;
}

header {
	margin-bottom: 5rem;
	background-color: white;
	padding: .5rem 1rem;
}

.logo {
	vertical-align: middle;
}

h1 {
	display: inline;
	vertical-align: middle;
}

main {
	margin: 4rem auto;
	max-width: 550px;
	background-color: white;
	border-radius: 10px;
}

.btns {
	padding: 1.5rem 3rem .5rem;
	border-bottom: 2px solid #aaaaaa;
}

.btns-blue {
    border-bottom: rgb(27%, 67%, 92%);
    background-color: rgb(27%, 67%, 92%);
}

.opacity {
	opacity: .5;
}

ul {
	list-style: none;
}

.list-sections {
	padding: 1.5rem 3rem 1rem;
}

.arrow-down {
	vertical-align: -2px;
	font-size: .8em;
}

.icon-status {
	margin-right: 1rem;
	display: inline-block;
	width: 1.7em;
	height: 1.7em;
	border-width: 2px;
	border-style: solid;
	border-radius: 50%;
	text-align: center;
	font-weight: bold;
	font-size: .6em;
}

.status-tick {
    color: green;
	border-color: green;
}

.status-x {
	color: red;
	border-color: red;
}

.tag {
	display: inline-block;
	padding: .3em .5em;
	border-radius: 1em;
	color: white;
}
.tag-blue {
	background-color: rgb(27%, 67%, 92%)
}

.tag-purple {
	background-color: #9C72E4
}

.tag-green {
    background-color: rgb(100, 192, 169);
}

.tag-orange {
    background-color: #F29E33;
}

.tag-pink  {
    background-color: #D863A1;
}

.tag-soup {
    background-color: #AFC825;
}